// 站点头像 Emoji 样式

.site-avatar .emoji {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    font-size: 25px !important;
    line-height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    margin: 0 auto !important;
    border-radius: 50%;
    background-color: var(--card-background);
    box-shadow: var(--shadow-l1);
}

:root {
    --emoji-size: 40px !important;
    --sidebar-avatar-size: 40px !important;
}

// 站点头像 Emoji 样式

//副标题字体

h2.site-description {
  font-size: 13px !important;
  font-weight: 600 !important;
  margin-top: 0.1rem !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

//副标题字体
