// 站点头像 Emoji 样式

.site-avatar .emoji {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    font-size: 25px !important;
    line-height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 0 0 2px !important;
    margin: 0 auto !important;
    border-radius: 50%;
    background-color: var(--card-background);
    box-shadow: var(--shadow-l1);
    right: -5px !important;
}

:root {
    --emoji-size: 40px !important;
    --sidebar-avatar-size: 40px !important;
}

// 站点头像 Emoji 样式

//副标题字体

h2.site-description {
  font-size: 13px !important;
  font-weight: 600 !important;
  margin-top: 0.1rem !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

//副标题字体

//代码块字体

/* 预处理符号#*/
.highlight .cp {
    color: #ffcc00 !important;
    font-weight: normal !important; 
}

/* 注释符号// */
.highlight .c,
.highlight .cm,
.highlight .c1 {
    color: #7C8596 !important;
    font-style: normal !important; 
}

//代码块字体